
UTILS/BlizzardBrowser.exe
UTILS/cef.pak
UTILS/cef_100_percent.pak
UTILS/cef_200_percent.pak
UTILS/cef_extensions.pak
UTILS/chrome_elf.dll
UTILS/d3dcompiler_47.dll
UTILS/debug.log
UTILS/icudtl.dat
UTILS/LIBCEF.DLL
UTILS/libEGL.dll
UTILS/libGLESv2.dll
UTILS/LOCALES/DE.PAK
UTILS/LOCALES/EN-US.PAK
UTILS/LOCALES/ES-419.PAK
UTILS/LOCALES/ES.PAK
UTILS/LOCALES/FR.PAK
UTILS/LOCALES/it.pak
UTILS/LOCALES/KO.PAK
UTILS/LOCALES/PT-BR.PAK
UTILS/LOCALES/RU.PAK
UTILS/LOCALES/ZH-CN.PAK
UTILS/LOCALES/ZH-TW.PAK
UTILS/logs/Browser-20190906T125202.log
UTILS/logs/CEF-20190906T125203.log
UTILS/natives_blob.bin
UTILS/snapshot_blob.bin
UTILS/swiftshader/libEGL.dll
UTILS/swiftshader/libGLESv2.dll
UTILS/v8_context_snapshot.bin
UTILS/vivoxsdk.dll
UTILS/widevinecdmadapter.dll
UTILS/WowVoiceProxy.exe
Screenshots/WoWScrnShot_030221_093418.jpg
Screenshots/WoWScrnShot_030221_093526.jpg
Screenshots/WoWScrnShot_030221_095124.jpg
Screenshots/WoWScrnShot_072821_125520.jpg
Screenshots/WoWScrnShot_072821_125711.jpg
Screenshots/WoWScrnShot_082719_113510.jpg
Screenshots/WoWScrnShot_082719_113559.jpg
Screenshots/WoWScrnShot_082719_113601.jpg
Screenshots/WoWScrnShot_082719_113620.jpg
Screenshots/WoWScrnShot_082919_095958.jpg
Screenshots/WoWScrnShot_103019_175615.jpg
WoW.mfil
WowClassic.exe
Errors/2019-08-27 17.45.31 Error - 13956.dmp
Errors/2019-08-27 17.45.31 Error - 13956.txt
Errors/2019-08-28 20.48.31 Error - 17428.dmp
Errors/2019-08-28 20.48.31 Error - 17428.txt
Errors/2021-04-13 12.41.33 Error - 18064.dmp
Errors/2021-04-13 12.41.33 Error - 18064.txt
GPUCache/data_0
GPUCache/data_1
GPUCache/data_2
GPUCache/data_3
GPUCache/index
Logs/BattleNet.log
Logs/BlizzardBrowser/Browser-20210727T175743.log
Logs/BlizzardBrowser/CEF-20210727T175743.log
Logs/Checkout.log
Logs/Client.log
.flavor.info
BlizzardError.exe
Cache/ADB/enUS/ConversationLine11516.tmp
Cache/ADB/enUS/ConversationLine13316.tmp
Cache/ADB/enUS/ConversationLine1440.tmp
Cache/ADB/enUS/ConversationLine14404.tmp
Cache/ADB/enUS/ConversationLine18204.tmp
Cache/ADB/enUS/ConversationLine18356.tmp
Cache/ADB/enUS/ConversationLine18460.tmp
Cache/ADB/enUS/ConversationLine18620.tmp
Cache/ADB/enUS/ConversationLine19308.tmp
Cache/ADB/enUS/ConversationLine19824.tmp
Cache/ADB/enUS/ConversationLine22096.tmp
Cache/ADB/enUS/ConversationLine4912.tmp
Cache/ADB/enUS/ConversationLine8100.tmp
Cache/ADB/enUS/ConversationLine8652.tmp
Cache/ADB/enUS/DBCache.bin
Cache/ADB/enUS/DBCache.bin11516.tmp
Cache/ADB/enUS/DBCache.bin1440.tmp
Cache/ADB/enUS/DBCache.bin14404.tmp
Cache/ADB/enUS/DBCache.bin18204.tmp
Cache/ADB/enUS/DBCache.bin18620.tmp
Cache/ADB/enUS/DBCache.bin19308.tmp
Cache/ADB/enUS/DBCache.bin22096.tmp
Cache/ADB/enUS/DBCache.bin4912.tmp
Cache/ADB/enUS/DBCache.bin8652.tmp
Cache/ADB/enUS/ItemSparse11516.tmp
Cache/ADB/enUS/ItemSparse13316.tmp
Cache/ADB/enUS/ItemSparse1440.tmp
Cache/ADB/enUS/ItemSparse14404.tmp
Cache/ADB/enUS/ItemSparse18204.tmp
Cache/ADB/enUS/ItemSparse18356.tmp
Cache/ADB/enUS/ItemSparse18460.tmp
Cache/ADB/enUS/ItemSparse18620.tmp
Cache/ADB/enUS/ItemSparse19308.tmp
Cache/ADB/enUS/ItemSparse19824.tmp
Cache/ADB/enUS/ItemSparse22096.tmp
Cache/ADB/enUS/ItemSparse4912.tmp
Cache/ADB/enUS/ItemSparse8100.tmp
Cache/ADB/enUS/ItemSparse8652.tmp
Cache/ADB/enUS/SceneScriptText11516.tmp
Cache/ADB/enUS/SceneScriptText13316.tmp
Cache/ADB/enUS/SceneScriptText1440.tmp
Cache/ADB/enUS/SceneScriptText14404.tmp
Cache/ADB/enUS/SceneScriptText18204.tmp
Cache/ADB/enUS/SceneScriptText18356.tmp
Cache/ADB/enUS/SceneScriptText18460.tmp
Cache/ADB/enUS/SceneScriptText18620.tmp
Cache/ADB/enUS/SceneScriptText19308.tmp
Cache/ADB/enUS/SceneScriptText19824.tmp
Cache/ADB/enUS/SceneScriptText22096.tmp
Cache/ADB/enUS/SceneScriptText4912.tmp
Cache/ADB/enUS/SceneScriptText8100.tmp
Cache/ADB/enUS/SceneScriptText8652.tmp
Cache/ADB/enUS/Spell11516.tmp
Cache/ADB/enUS/Spell13316.tmp
Cache/ADB/enUS/Spell1440.tmp
Cache/ADB/enUS/Spell14404.tmp
Cache/ADB/enUS/Spell18204.tmp
Cache/ADB/enUS/Spell18356.tmp
Cache/ADB/enUS/Spell18460.tmp
Cache/ADB/enUS/Spell18620.tmp
Cache/ADB/enUS/Spell19308.tmp
Cache/ADB/enUS/Spell19824.tmp
Cache/ADB/enUS/Spell22096.tmp
Cache/ADB/enUS/Spell4912.tmp
Cache/ADB/enUS/Spell8100.tmp
Cache/ADB/enUS/Spell8652.tmp
Cache/WDB/enUS/arenateamcache.wdb
Cache/WDB/enUS/creaturecache.wdb
Cache/WDB/enUS/gameobjectcache.wdb
Cache/WDB/enUS/npccache.wdb
Cache/WDB/enUS/pagetextcache.wdb
Cache/WDB/enUS/petitioncache.wdb
Cache/WDB/enUS/questcache.wdb
d3d12.dll
DBGHELP.DLL
dxilconv7.dll
Logs/ComponentRequests.log
Logs/Connection.log
Logs/cpu.log
Logs/DefaultLogs.log
Logs/FrameXML.log
Logs/gx.log
Logs/Hotfix.log
Logs/MemoryLeak-WowClassic.log
Logs/MemoryLeak-WowVoiceProxy.log
Logs/MemoryLeak.log
Logs/Model.log
Logs/Sound.log
Logs/Voice.log
Logs/WowConnection.log
